#master-container {
    min-width: 414px;
    min-height: 735px;
    max-width: 414px;
    max-height: 735px;
    overflow: hidden;
    border: solid black 3px;
}

#productInfoPopupWindow {
    position: fixed;
    width: 100%;
    height: 735px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.65);
}


#facebook_button, #twitter_button {
	width: 300px;
	height: 45px;
	background: inherit;
	border: none;
	border-radius: 3.66665649414063px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

#facebook_button {
    background-color: rgba(60, 90, 152, 1);
    color: white;
}

#facebook_button > p,
#twitter_button > p {
  padding: 15px 0px;
}
#twitter_button {
    background-color: rgba(50, 203, 253, 1);
    color: white;
}

#login-button {
	width: 300px;
	height: 45px;
	background: inherit;
	background-color: rgba(0, 153, 255, 1);
	border: none;
	border-radius: 3.66665649414063px;
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

.login-button-images {
	width: 16px;
	height: 14px;
}

.background-gradient-purple {
	background: -webkit-linear-gradient(270deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	background: -moz-linear-gradient(180deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	background: linear-gradient(180deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(228, 228, 228, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.userHomeRow1 {
	background-color: rgba(17, 118, 181, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}

.userHomeRow2 {
	background-color: rgba(241, 91, 42, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}

.userHomeRow3 {
	background-color: rgba(1, 167, 157, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}
.userHomeRow {
  height: 60px;
  clear: both;
}

.userHomeIcon {
    width: 55px;
    height: 41px;
    padding: 10px 15px;
    float: left;
}

.userHomeText {
  float: left;
  padding: 20px 0px;
  color: white;
}

.owlSmall {
  width: 171px;
  height: 174px;
  margin: 45px 121px;
}

.homeText {
  color: white;
}

#navBar {
  border-top: solid 3px grey;
  background-color: white;
  height: 45px;
  position: fixed;
  width:414px;
  bottom: 0;
  overflow: hidden;
}

.navBarIcon {
  height: 26px;
  width: 27px;
  padding: 7px;
}
#homeButton {
  float: left;
}

#backButton {
  float: left;
  text-align: center;
  margin-left: 144px;
}

#settingButton {
  float: right;
}

.hoverColor:hover {
    background-color: rgb(64, 64, 64);
    cursor: pointer;
}
