#bg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -999;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

#master-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}


/* Login Page */

#facebook_button, #twitter_button {
	width: 300px;
	height: 45px;
	background: inherit;
	border: none;
	border-radius: 3.66665649414063px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

#facebook_button {
    background-color: rgba(60, 90, 152, 1);
}

#twitter_button {
    background-color: rgba(50, 203, 253, 1);
}

#login-button {
	width: 300px;
	height: 45px;
	background: inherit;
	background-color: rgba(0, 153, 255, 1);
	border: none;
	border-radius: 3.66665649414063px;
	-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #FFFFFF;
}

.login-button-images {
	width: 16px;
	height: 14px;
}

.background-gradient-purple {
	background: -webkit-linear-gradient(270deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	background: -moz-linear-gradient(180deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	background: linear-gradient(180deg, rgba(198, 165, 252, 1) 0%, rgba(198, 165, 252, 1) 0%, rgba(133, 210, 237, 1) 100%, rgba(133, 210, 237, 1) 100%);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(228, 228, 228, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.userHomeRow1 {
	background-color: rgba(17, 118, 181, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}

.userHomeRow2 {
	background-color: rgba(241, 91, 42, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}

.userHomeRow3 {
	background-color: rgba(1, 167, 157, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 0px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: #CCCCCC;
}

.owlSmall {
    width: 128px;
    height: 128px;
}

.hoverColor:hover {
    background-color: #444444;
    cursor: pointer;
}
