body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:475px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:954px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:954px;
}
#u650 {
  position:absolute;
  left:2px;
  top:469px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:731px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:31px;
  top:107px;
  width:414px;
  height:731px;
}
#u652 {
  position:absolute;
  left:2px;
  top:358px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u654 {
  position:absolute;
  left:31px;
  top:107px;
  width:414px;
  height:20px;
  font-size:14px;
  color:#CCCCCC;
}
#u655 {
  position:absolute;
  left:2px;
  top:2px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
}
#u656 {
  position:absolute;
  left:406px;
  top:110px;
  width:25px;
  height:12px;
}
#u657 {
  position:absolute;
  left:2px;
  top:-2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u658 {
  position:absolute;
  left:96px;
  top:110px;
  width:15px;
  height:12px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:12px;
}
#u660 {
  position:absolute;
  left:40px;
  top:110px;
  width:17px;
  height:12px;
}
#u661 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u662 {
  position:absolute;
  left:213px;
  top:109px;
  width:51px;
  height:15px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u664 {
  position:absolute;
  left:62px;
  top:109px;
  width:29px;
  height:14px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u666 {
  position:absolute;
  left:31px;
  top:793px;
  width:414px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u667 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:73px;
  background:inherit;
  background-color:rgba(17, 118, 181, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u668 {
  position:absolute;
  left:31px;
  top:720px;
  width:414px;
  height:73px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u669 {
  position:absolute;
  left:2px;
  top:28px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u670 {
  position:absolute;
  left:140px;
  top:742px;
  width:289px;
  height:28px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u672 {
  position:absolute;
  left:394px;
  top:804px;
  width:26px;
  height:25px;
}
#u673 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u674 {
  position:absolute;
  left:57px;
  top:733px;
  width:55px;
  height:41px;
}
#u675 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u676 {
  position:absolute;
  left:55px;
  top:802px;
  width:27px;
  height:26px;
}
#u677 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:593px;
}
#u678 {
  position:absolute;
  left:31px;
  top:127px;
  width:414px;
  height:593px;
}
#u679 {
  position:absolute;
  left:2px;
  top:288px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:79px;
}
#u680 {
  position:absolute;
  left:354px;
  top:683px;
  width:77px;
  height:79px;
}
#u681 {
  position:absolute;
  left:2px;
  top:32px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u682 {
  position:absolute;
  left:45px;
  top:181px;
  width:240px;
  height:230px;
  opacity:0.8;
  text-align:left;
}
#u683 {
  position:absolute;
  left:10px;
  top:10px;
  width:220px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u684 {
  position:absolute;
  left:223px;
  top:802px;
  width:30px;
  height:27px;
}
#u685 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u686 {
  position:absolute;
  left:31px;
  top:127px;
  width:414px;
  height:35px;
  opacity:0.8;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u687 {
  position:absolute;
  left:40px;
  top:10px;
  width:372px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u688 {
  position:absolute;
  left:50px;
  top:136px;
  width:12px;
  height:17px;
}
#u689 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u690 {
  position:absolute;
  left:45px;
  top:665px;
  width:180px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u690_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow:1px 2px 3px rgba(0, 0, 0, 0.2);
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u690.mouseDown {
}
#u691 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
